In [1]:
import numpy as np
import pandas as pd

In [2]:
transactions = pd.read_csv('data-files/trx_data.csv')

In [5]:
transactions.info()
transactions.head(10)# 1번 사용자가 2번, 68번 제품을 2번 샀다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62483 entries, 0 to 62482
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerId  62483 non-null  int64
 1   products    62483 non-null  object
dtypes: int64(1), object(1)
memory usage: 976.4+ KB

   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2
5           6                  144|144|55|266
6           7                     135|206|259
7           8                       79|8|8|48
8           9                     102|2|2|297
9          10                   84|77|290|260

In [6]:
products = transactions['products'].str.split('|') # |를 각각 개별적인 요소로 자르기
products

0                                             [20]
1        [2, 2, 23, 68, 68, 111, 29, 86, 107, 152]
2               [111, 107, 29, 11, 11, 11, 33, 23]
3                                       [164, 227]
4                                           [2, 2]
                           ...
62478                       [103, 103, 8, 48, 126]
62479    [124, 37, 37, 78, 124, 124, 37, 8, 35, 8]
62480                                         [24]
62481                                        [167]
62482                                        [150]
Name: products, Length: 62483, dtype: object

In [8]:
transactions['products'] = products.map(lambda x: [int(p) for p in x]) # 문자열 요소들을 숫자열로 바꿈

In [9]:
transactions.head()

   customerId                                   products
0           0                                       [20]
1           1  [2, 2, 23, 68, 68, 111, 29, 86, 107, 152]
2           2         [111, 107, 29, 11, 11, 11, 33, 23]
3           3                                 [164, 227]
4           5                                     [2, 2]

In [11]:
print(transactions.iloc[1, 1][0])
transactions.head()

2

   customerId                                   products
0           0                                       [20]
1           1  [2, 2, 23, 68, 68, 111, 29, 86, 107, 152]
2           2         [111, 107, 29, 11, 11, 11, 33, 23]
3           3                                 [164, 227]
4           5                                     [2, 2]

In [19]:
data_list = []
for idx, transaction in transactions.iterrows(): # iterrows: 행의 반복
    for product in transaction["products"]: # list를 합치기
        data_list.append({"customerId":transaction['customerId'], "productId":product})

In [21]:
data_list[:5] # 0번 사용자는 20번의 제품을 가지고 있고, ...

[{'customerId': 0, 'productId': 20},
 {'customerId': 1, 'productId': 2},
 {'customerId': 1, 'productId': 2},
 {'customerId': 1, 'productId': 23},
 {'customerId': 1, 'productId': 68}]

In [22]:
data = pd.DataFrame(data_list)

In [23]:
data.head() # 거래한 내역 행으로 처리

   customerId  productId
0           0         20
1           1          2
2           1          2
3           1         23
4           1         68

In [24]:
data['purchase_count'] = np.ones(len(data))

In [25]:
data.head() # 처음에는 다 1

   customerId  productId  purchase_count
0           0         20             1.0
1           1          2             1.0
2           1          2             1.0
3           1         23             1.0
4           1         68             1.0

In [35]:
data2 = data.groupby(['customerId', 'productId'], as_index=False).count() # 인덱스 구성 X

In [36]:
data2.head()
# data2.columns = ['userid', 'itemid', 'rating']

   customerId  productId  purchase_count
0           0          1               2
1           0         13               1
2           0         19               3
3           0         20               1
4           0         31               2

In [37]:
data2['purchase_count'].describe() # 선호도에 대한 정보

count    133585.000000
mean          1.583097
std           1.116338
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max          75.000000
Name: purchase_count, dtype: float64

In [38]:
from surprise.reader import Reader
from surprise import Dataset

In [40]:
reader=Reader()
ds = Dataset.load_from_df(data2, reader) # dataframe으로부터 읽어와라! reader객체를 가져오라고 하는 것

In [42]:
ds.raw_ratings # 맨 끝은 id

[(0, 1, 2.0, None),
 (0, 13, 1.0, None),
 (0, 19, 3.0, None),
 (0, 20, 1.0, None),
 (0, 31, 2.0, None),
 (0, 52, 1.0, None),
 (0, 69, 2.0, None),
 (0, 93, 3.0, None),
 (0, 136, 2.0, None),
 (0, 157, 1.0, None),
 (0, 198, 1.0, None),
 (0, 216, 1.0, None),
 (0, 255, 2.0, None),
 (0, 256, 1.0, None),
 (0, 260, 5.0, None),
 (1, 2, 6.0, None),
 (1, 23, 1.0, None),
 (1, 25, 1.0, None),
 (1, 29, 1.0, None),
 (1, 61, 2.0, None),
 (1, 68, 2.0, None),
 (1, 86, 3.0, None),
 (1, 107, 1.0, None),
 (1, 111, 1.0, None),
 (1, 122, 1.0, None),
 (1, 135, 1.0, None),
 (1, 146, 1.0, None),
 (1, 151, 3.0, None),
 (1, 152, 3.0, None),
 (1, 216, 1.0, None),
 (1, 227, 1.0, None),
 (1, 241, 1.0, None),
 (1, 274, 1.0, None),
 (1, 285, 1.0, None),
 (1, 293, 1.0, None),
 (1, 296, 1.0, None),
 (2, 11, 3.0, None),
 (2, 23, 1.0, None),
 (2, 29, 1.0, None),
 (2, 33, 1.0, None),
 (2, 107, 1.0, None),
 (2, 111, 1.0, None),
 (3, 25, 1.0, None),
 (3, 55, 1.0, None),
 (3, 100, 1.0, None),
 (3, 121, 1.0, None),
 (3, 164, 1.0, None),
 (3, 196, 6.0, None),
 (3, 227, 2.0, None),
 (4, 15, 2.0, None),
 (4, 143, 1.0, None),
 (4, 196, 1.0, None),
 (4, 199, 1.0, None),
 (4, 200, 1.0, None),
 (4, 270, 1.0, None),
 (4, 289, 1.0, None),
 (5, 2, 2.0, None),
 (5, 18, 3.0, None),
 (5, 36, 1.0, None),
 (5, 59, 1.0, None),
 (5, 60, 1.0, None),
 (5, 61, 1.0, None),
 (5, 91, 2.0, None),
 (5, 130, 2.0, None),
 (5, 149, 1.0, None),
 (5, 264, 1.0, None),
 (5, 270, 1.0, None),
 (6, 55, 1.0, None),
 (6, 94, 2.0, None),
 (6, 144, 6.0, None),
 (6, 196, 2.0, None),
 (6, 266, 1.0, None),
 (7, 51, 1.0, None),
 (7, 135, 1.0, None),
 (7, 159, 1.0, None),
 (7, 206, 1.0, None),
 (7, 259, 1.0, None),
 (7, 280, 1.0, None),
 (8, 8, 3.0, None),
 (8, 9, 1.0, None),
 (8, 14, 2.0, None),
 (8, 18, 1.0, None),
 (8, 21, 1.0, None),
 (8, 35, 1.0, None),
 (8, 36, 1.0, None),
 (8, 47, 1.0, None),
 (8, 48, 1.0, None),
 (8, 51, 2.0, None),
 (8, 71, 1.0, None),
 (8, 73, 1.0, None),
 (8, 79, 2.0, None),
 (8, 95, 3.0, None),
 (8, 113, 2.0, None),
 (8, 133, 1.0, None),
 (8, 136, 1.0, None),
 (8, 149, 1.0, None),
 (8, 159, 1.0, None),
 (8, 160, 2.0, None),
 (8, 163, 2.0, None),
 (8, 165, 1.0, None),
 (8, 167, 1.0, None),
 (8, 168, 1.0, None),
 (8, 177, 2.0, None),
 (8, 180, 1.0, None),
 (8, 187, 1.0, None),
 (8, 195, 1.0, None),
 (8, 198, 1.0, None),
 (8, 200, 1.0, None),
 (8, 202, 1.0, None),
 (8, 212, 2.0, None),
 (8, 225, 5.0, None),
 (8, 229, 1.0, None),
 (8, 247, 3.0, None),
 (8, 248, 9.0, None),
 (8, 251, 3.0, None),
 (9, 0, 3.0, None),
 (9, 1, 2.0, None),
 (9, 2, 6.0, None),
 (9, 14, 1.0, None),
 (9, 15, 1.0, None),
 (9, 17, 2.0, None),
 (9, 18, 6.0, None),
 (9, 30, 1.0, None),
 (9, 59, 1.0, None),
 (9, 72, 2.0, None),
 (9, 87, 1.0, None),
 (9, 100, 4.0, None),
 (9, 102, 1.0, None),
 (9, 148, 1.0, None),
 (9, 297, 2.0, None),
 (10, 2, 3.0, None),
 (10, 14, 2.0, None),
 (10, 16, 1.0, None),
 (10, 24, 2.0, None),
 (10, 35, 2.0, None),
 (10, 36, 1.0, None),
 (10, 49, 1.0, None),
 (10, 55, 2.0, None),
 (10, 61, 2.0, None),
 (10, 66, 4.0, None),
 (10, 77, 2.0, None),
 (10, 78, 1.0, None),
 (10, 79, 1.0, None),
 (10, 84, 1.0, None),
 (10, 94, 11.0, None),
 (10, 101, 1.0, None),
 (10, 104, 1.0, None),
 (10, 153, 1.0, None),
 (10, 166, 1.0, None),
 (10, 175, 1.0, None),
 (10, 190, 3.0, None),
 (10, 199, 1.0, None),
 (10, 201, 2.0, None),
 (10, 260, 1.0, None),
 (10, 266, 2.0, None),
 (10, 290, 1.0, None),
 (11, 1, 2.0, None),
 (11, 10, 3.0, None),
 (11, 14, 1.0, None),
 (11, 20, 1.0, None),
 (11, 25, 1.0, None),
 (11, 34, 3.0, None),
 (11, 42, 1.0, None),
 (11, 45, 3.0, None),
 (11, 50, 1.0, None),
 (11, 72, 2.0, None),
 (11, 76, 1.0, None),
 (11, 82, 2.0, None),
 (11, 104, 1.0, None),
 (11, 107, 1.0, None),
 (11, 111, 1.0, None),
 (11, 117, 3.0, None),
 (11, 127, 2.0, None),
 (11, 171, 3.0, None),
 (11, 173, 3.0, None),
 (11, 181, 1.0, None),
 (11, 199, 3.0, None),
 (11, 213, 2.0, None),
 (11, 219, 1.0, None),
 (11, 234, 1.0, None),
 (11, 287, 1.0, None),
 (11, 291, 3.0, None),
 (11, 296, 1.0, None),
 (11, 297, 2.0, None),
 (12, 18, 1.0, None),
 (12, 172, 1.0, None),
 (12, 173, 2.0, None),
 (12, 183, 1.0, None),
 (12, 192, 1.0, None),
 (12, 240, 1.0, None),
 (12, 287, 1.0, None),
 (12, 289, 1.0, None),
 (13, 8, 2.0, None),
 (13, 20, 1.0, None),
 (13, 25, 1.0, None),
 (13, 38, 1.0, None),
 (13, 58, 2.0, None),
 (13, 60, 1.0, None),
 (13, 79, 1.0, None),
 (13, 105, 1.0, None),
 (13, 200, 2.0, None),
 (14, 1, 2.0, None),
 (14, 2, 7.0, None),
 (14, 7, 1.0, None),
 (14, 13, 1.0, None),
 (14, 14, 1.0, None),
 (14, 15, 1.0, None),
 (14, 17, 3.0, None),
 (14, 20, 8.0, None),
 (14, 33, 1.0, None),
 (14, 35, 3.0, None),
 (14, 42, 3.0, None),
 (14, 43, 2.0, None),
 (14, 56, 3.0, None),
 (14, 65, 4.0, None),
 (14, 72, 1.0, None),
 (14, 84, 1.0, None),
 (14, 111, 1.0, None),
 (14, 118, 2.0, None),
 (14, 120, 2.0, None),
 (14, 131, 1.0, None),
 (14, 146, 1.0, None),
 (14, 202, 1.0, None),
 (14, 234, 2.0, None),
 (14, 271, 1.0, None),
 (15, 143, 1.0, None),
 (15, 149, 1.0, None),
 (15, 251, 1.0, None),
 (16, 2, 3.0, None),
 (16, 14, 2.0, None),
 (16, 19, 2.0, None),
 (16, 96, 1.0, None),
 (16, 180, 1.0, None),
 (16, 183, 1.0, None),
 (16, 225, 1.0, None),
 (17, 7, 1.0, None),
 (17, 42, 1.0, None),
 (17, 43, 1.0, None),
 (17, 49, 3.0, None),
 (17, 65, 1.0, None),
 (17, 71, 3.0, None),
 (17, 140, 1.0, None),
 (17, 149, 4.0, None),
 (17, 153, 1.0, None),
 (17, 167, 1.0, None),
 (17, 244, 1.0, None),
 (17, 279, 3.0, None),
 (17, 293, 1.0, None),
 (18, 70, 1.0, None),
 (18, 135, 1.0, None),
 (19, 4, 2.0, None),
 (19, 8, 1.0, None),
 (19, 9, 2.0, None),
 (19, 31, 2.0, None),
 (19, 48, 1.0, None),
 (19, 224, 1.0, None),
 (19, 270, 1.0, None),
 (19, 297, 1.0, None),
 (20, 2, 1.0, None),
 (20, 9, 1.0, None),
 (20, 20, 3.0, None),
 (20, 39, 1.0, None),
 (20, 251, 1.0, None),
 (20, 281, 3.0, None),
 (20, 287, 3.0, None),
 (21, 8, 2.0, None),
 (21, 9, 3.0, None),
 (21, 12, 1.0, None),
 (21, 26, 2.0, None),
 (21, 28, 2.0, None),
 (21, 130, 1.0, None),
 (21, 139, 4.0, None),
 (21, 194, 3.0, None),
 (21, 198, 6.0, None),
 (21, 242, 3.0, None),
 (21, 259, 1.0, None),
 (21, 261, 1.0, None),
 (21, 282, 2.0, None),
 (21, 290, 1.0, None),
 (22, 1, 1.0, None),
 (22, 2, 2.0, None),
 (22, 3, 2.0, None),
 (22, 11, 1.0, None),
 (22, 14, 1.0, None),
 (22, 19, 1.0, None),
 (22, 29, 1.0, None),
 (22, 35, 1.0, None),
 (22, 39, 1.0, None),
 (22, 44, 3.0, None),
 (22, 59, 1.0, None),
 (22, 70, 1.0, None),
 (22, 72, 1.0, None),
 (22, 85, 1.0, None),
 (22, 103, 2.0, None),
 (22, 179, 1.0, None),
 (22, 185, 1.0, None),
 (22, 189, 1.0, None),
 (22, 195, 1.0, None),
 (22, 199, 2.0, None),
 (22, 213, 1.0, None),
 (22, 232, 1.0, None),
 (22, 269, 1.0, None),
 (22, 271, 1.0, None),
 (22, 274, 1.0, None),
 (23, 1, 1.0, None),
 (23, 14, 2.0, None),
 (23, 15, 1.0, None),
 (23, 18, 3.0, None),
 (23, 35, 1.0, None),
 (23, 36, 3.0, None),
 (23, 61, 1.0, None),
 (23, 100, 2.0, None),
 (23, 102, 2.0, None),
 (23, 201, 2.0, None),
 (23, 208, 2.0, None),
 (23, 251, 1.0, None),
 (24, 1, 1.0, None),
 (24, 2, 1.0, None),
 (24, 31, 1.0, None),
 (24, 45, 1.0, None),
 (24, 93, 2.0, None),
 (24, 97, 1.0, None),
 (24, 124, 2.0, None),
 (24, 167, 1.0, None),
 (24, 203, 1.0, None),
 (24, 218, 1.0, None),
 (24, 236, 2.0, None),
 (25, 0, 3.0, None),
 (25, 1, 3.0, None),
 (25, 2, 3.0, None),
 (25, 4, 2.0, None),
 (25, 7, 3.0, None),
 (25, 12, 1.0, None),
 (25, 18, 30.0, None),
 (25, 20, 1.0, None),
 (25, 25, 1.0, None),
 (25, 72, 2.0, None),
 (25, 154, 2.0, None),
 (25, 157, 1.0, None),
 (25, 259, 10.0, None),
 (25, 296, 2.0, None),
 (27, 11, 1.0, None),
 (27, 17, 3.0, None),
 (27, 31, 2.0, None),
 (27, 34, 6.0, None),
 (27, 35, 1.0, None),
 (27, 42, 1.0, None),
 (27, 48, 1.0, None),
 (27, 49, 1.0, None),
 (27, 56, 2.0, None),
 (27, 79, 1.0, None),
 (27, 104, 1.0, None),
 (27, 161, 1.0, None),
 (27, 190, 1.0, None),
 (27, 195, 1.0, None),
 (27, 256, 1.0, None),
 (27, 276, 3.0, None),
 (28, 11, 3.0, None),
 (28, 29, 3.0, None),
 (29, 1, 2.0, None),
 (29, 2, 3.0, None),
 (29, 14, 2.0, None),
 (29, 42, 1.0, None),
 (29, 47, 1.0, None),
 (29, 51, 1.0, None),
 (29, 60, 1.0, None),
 (29, 72, 1.0, None),
 (29, 118, 3.0, None),
 (29, 124, 1.0, None),
 (29, 192, 1.0, None),
 (29, 209, 1.0, None),
 (29, 251, 1.0, None),
 (29, 259, 1.0, None),
 (30, 2, 1.0, None),
 (30, 42, 1.0, None),
 (30, 83, 1.0, None),
 (30, 84, 3.0, None),
 (30, 106, 1.0, None),
 (30, 143, 1.0, None),
 (30, 167, 1.0, None),
 (30, 180, 1.0, None),
 (30, 241, 1.0, None),
 (30, 256, 1.0, None),
 (30, 297, 1.0, None),
 (31, 5, 1.0, None),
 (31, 13, 2.0, None),
 (31, 31, 2.0, None),
 (31, 65, 3.0, None),
 (31, 84, 3.0, None),
 (31, 158, 1.0, None),
 (31, 206, 1.0, None),
 (32, 12, 3.0, None),
 (32, 67, 1.0, None),
 (32, 114, 1.0, None),
 (32, 116, 1.0, None),
 (32, 159, 1.0, None),
 (32, 196, 1.0, None),
 (32, 224, 1.0, None),
 (33, 0, 3.0, None),
 (33, 1, 2.0, None),
 (33, 2, 2.0, None),
 (33, 5, 1.0, None),
 (33, 11, 2.0, None),
 (33, 15, 5.0, None),
 (33, 20, 1.0, None),
 (33, 23, 2.0, None),
 (33, 36, 2.0, None),
 (33, 38, 1.0, None),
 (33, 41, 1.0, None),
 (33, 79, 1.0, None),
 (33, 85, 3.0, None),
 (33, 97, 1.0, None),
 (33, 106, 2.0, None),
 (33, 141, 1.0, None),
 (33, 148, 1.0, None),
 (33, 153, 1.0, None),
 (33, 173, 3.0, None),
 (33, 181, 3.0, None),
 (33, 185, 3.0, None),
 (33, 197, 3.0, None),
 (33, 249, 3.0, None),
 (33, 264, 1.0, None),
 (33, 267, 1.0, None),
 (33, 297, 1.0, None),
 (34, 16, 2.0, None),
 (34, 17, 1.0, None),
 (34, 20, 1.0, None),
 (34, 28, 2.0, None),
 (34, 41, 1.0, None),
 (34, 53, 2.0, None),
 (34, 76, 1.0, None),
 (34, 81, 2.0, None),
 (34, 99, 1.0, None),
 (34, 108, 1.0, None),
 (34, 115, 1.0, None),
 (34, 197, 2.0, None),
 (34, 205, 1.0, None),
 (34, 272, 1.0, None),
 (35, 1, 1.0, None),
 (35, 15, 1.0, None),
 (35, 24, 2.0, None),
 (35, 42, 3.0, None),
 (35, 50, 1.0, None),
 (35, 56, 2.0, None),
 (35, 62, 4.0, None),
 (35, 78, 1.0, None),
 (35, 140, 1.0, None),
 (35, 202, 1.0, None),
 (35, 231, 6.0, None),
 (35, 285, 1.0, None),
 (35, 292, 2.0, None),
 (36, 0, 3.0, None),
 (36, 8, 5.0, None),
 (36, 12, 1.0, None),
 (36, 20, 3.0, None),
 (36, 36, 3.0, None),
 (36, 38, 2.0, None),
 (36, 63, 2.0, None),
 (36, 145, 1.0, None),
 (37, 25, 2.0, None),
 (37, 40, 4.0, None),
 (37, 73, 5.0, None),
 (37, 122, 1.0, None),
 (38, 8, 2.0, None),
 (38, 11, 2.0, None),
 (38, 13, 3.0, None),
 (38, 20, 1.0, None),
 (38, 35, 1.0, None),
 (38, 38, 2.0, None),
 (38, 42, 2.0, None),
 (38, 46, 1.0, None),
 (38, 48, 2.0, None),
 (38, 50, 1.0, None),
 (38, 53, 3.0, None),
 (38, 65, 1.0, None),
 (38, 77, 2.0, None),
 (38, 79, 1.0, None),
 (38, 102, 2.0, None),
 (38, 119, 1.0, None),
 (38, 143, 3.0, None),
 (38, 160, 1.0, None),
 (38, 164, 2.0, None),
 (38, 175, 1.0, None),
 (38, 176, 2.0, None),
 (38, 179, 1.0, None),
 (38, 189, 1.0, None),
 (38, 198, 1.0, None),
 (38, 206, 3.0, None),
 (38, 213, 1.0, None),
 (38, 225, 1.0, None),
 (38, 231, 1.0, None),
 (38, 237, 1.0, None),
 (38, 241, 2.0, None),
 (38, 273, 1.0, None),
 (38, 277, 1.0, None),
 (38, 278, 1.0, None),
 (38, 280, 2.0, None),
 (38, 282, 1.0, None),
 (39, 1, 2.0, None),
 (39, 6, 3.0, None),
 (39, 14, 1.0, None),
 (39, 36, 1.0, None),
 (39, 43, 1.0, None),
 (39, 48, 1.0, None),
 (39, 49, 1.0, None),
 (39, 58, 1.0, None),
 (39, 72, 1.0, None),
 (39, 79, 1.0, None),
 (39, 96, 1.0, None),
 (39, 111, 1.0, None),
 (39, 139, 1.0, None),
 (39, 194, 1.0, None),
 (39, 206, 1.0, None),
 (39, 229, 1.0, None),
 (39, 241, 8.0, None),
 (39, 257, 1.0, None),
 (40, 2, 6.0, None),
 (40, 24, 1.0, None),
 (40, 25, 2.0, None),
 (40, 33, 1.0, None),
 (40, 35, 2.0, None),
 (40, 47, 1.0, None),
 (40, 48, 1.0, None),
 (40, 52, 1.0, None),
 (40, 54, 1.0, None),
 (40, 118, 3.0, None),
 (40, 133, 1.0, None),
 (40, 140, 2.0, None),
 (40, 156, 2.0, None),
 (40, 194, 1.0, None),
 (40, 201, 1.0, None),
 (40, 203, 3.0, None),
 (40, 227, 1.0, None),
 (40, 231, 1.0, None),
 (41, 2, 2.0, None),
 (41, 4, 2.0, None),
 (41, 41, 1.0, None),
 (41, 56, 1.0, None),
 (41, 98, 1.0, None),
 (41, 281, 1.0, None),
 (42, 70, 1.0, None),
 (42, 229, 3.0, None),
 (43, 8, 2.0, None),
 (43, 48, 1.0, None),
 (43, 136, 1.0, None),
 (43, 168, 1.0, None),
 (43, 272, 2.0, None),
 (44, 0, 3.0, None),
 (44, 1, 2.0, None),
 (44, 2, 4.0, None),
 (44, 4, 2.0, None),
 (44, 5, 2.0, None),
 (44, 8, 4.0, None),
 (44, 11, 3.0, None),
 (44, 15, 3.0, None),
 (44, 16, 4.0, None),
 (44, 20, 1.0, None),
 (44, 22, 1.0, None),
 (44, 24, 1.0, None),
 (44, 28, 2.0, None),
 (44, 30, 5.0, None),
 (44, 33, 3.0, None),
 (44, 36, 4.0, None),
 (44, 38, 3.0, None),
 (44, 42, 1.0, None),
 (44, 45, 1.0, None),
 (44, 47, 1.0, None),
 (44, 48, 3.0, None),
 (44, 49, 2.0, None),
 (44, 51, 3.0, None),
 (44, 53, 1.0, None),
 (44, 60, 2.0, None),
 (44, 65, 1.0, None),
 (44, 67, 2.0, None),
 (44, 79, 2.0, None),
 (44, 80, 1.0, None),
 (44, 82, 1.0, None),
 (44, 97, 4.0, None),
 (44, 106, 1.0, None),
 (44, 111, 1.0, None),
 (44, 117, 1.0, None),
 (44, 119, 1.0, None),
 (44, 131, 1.0, None),
 (44, 133, 2.0, None),
 (44, 138, 3.0, None),
 (44, 141, 1.0, None),
 (44, 142, 2.0, None),
 (44, 143, 2.0, None),
 (44, 157, 1.0, None),
 (44, 166, 2.0, None),
 (44, 173, 2.0, None),
 (44, 174, 2.0, None),
 (44, 194, 2.0, None),
 (44, 195, 2.0, None),
 (44, 196, 2.0, None),
 (44, 202, 1.0, None),
 (44, 209, 1.0, None),
 (44, 232, 1.0, None),
 (44, 255, 1.0, None),
 (44, 278, 1.0, None),
 (44, 280, 1.0, None),
 (44, 288, 1.0, None),
 (44, 297, 2.0, None),
 (45, 2, 3.0, None),
 (45, 5, 3.0, None),
 (45, 14, 1.0, None),
 (45, 17, 2.0, None),
 (45, 41, 5.0, None),
 (45, 47, 1.0, None),
 (45, 68, 2.0, None),
 (45, 95, 2.0, None),
 (45, 120, 1.0, None),
 (45, 146, 1.0, None),
 (45, 156, 2.0, None),
 (45, 165, 1.0, None),
 (45, 189, 1.0, None),
 (45, 251, 1.0, None),
 (45, 254, 1.0, None),
 (45, 263, 1.0, None),
 (45, 268, 3.0, None),
 (46, 172, 1.0, None),
 (46, 205, 1.0, None),
 (46, 250, 1.0, None),
 (47, 1, 1.0, None),
 (47, 2, 4.0, None),
 (47, 17, 1.0, None),
 (47, 20, 2.0, None),
 (47, 25, 2.0, None),
 (47, 55, 1.0, None),
 (47, 85, 2.0, None),
 (47, 89, 1.0, None),
 (47, 254, 1.0, None),
 (48, 2, 2.0, None),
 (48, 17, 2.0, None),
 (48, 33, 1.0, None),
 (48, 35, 2.0, None),
 (48, 47, 1.0, None),
 (48, 84, 1.0, None),
 (48, 96, 1.0, None),
 (48, 100, 1.0, None),
 (48, 101, 1.0, None),
 (48, 111, 1.0, None),
 (48, 115, 1.0, None),
 (48, 124, 1.0, None),
 (48, 133, 1.0, None),
 (48, 152, 1.0, None),
 (48, 192, 1.0, None),
 (48, 195, 1.0, None),
 (48, 202, 1.0, None),
 (48, 234, 1.0, None),
 (48, 283, 3.0, None),
 (49, 2, 1.0, None),
 (49, 82, 2.0, None),
 (49, 162, 1.0, None),
 (49, 180, 1.0, None),
 (50, 35, 1.0, None),
 (50, 62, 1.0, None),
 (50, 67, 1.0, None),
 (50, 70, 1.0, None),
 (50, 141, 2.0, None),
 (50, 152, 1.0, None),
 (51, 15, 2.0, None),
 (51, 24, 2.0, None),
 (51, 30, 1.0, None),
 (51, 33, 1.0, None),
 (51, 44, 1.0, None),
 (52, 39, 1.0, None),
 (52, 124, 2.0, None),
 (52, 174, 1.0, None),
 (52, 231, 1.0, None),
 (53, 1, 1.0, None),
 (53, 2, 1.0, None),
 (53, 47, 2.0, None),
 (53, 99, 1.0, None),
 (53, 233, 1.0, None),
 (53, 295, 1.0, None),
 (54, 2, 1.0, None),
 (54, 3, 3.0, None),
 (54, 9, 1.0, None),
 (54, 11, 1.0, None),
 (54, 12, 3.0, None),
 (54, 18, 5.0, None),
 (54, 20, 3.0, None),
 (54, 39, 1.0, None),
 (54, 63, 1.0, None),
 (54, 72, 1.0, None),
 (54, 102, 3.0, None),
 (54, 127, 1.0, None),
 (54, 130, 3.0, None),
 (54, 150, 1.0, None),
 (54, 153, 1.0, None),
 (54, 161, 1.0, None),
 (54, 163, 1.0, None),
 (54, 270, 1.0, None),
 (54, 272, 2.0, None),
 (55, 1, 2.0, None),
 (55, 33, 2.0, None),
 (55, 50, 1.0, None),
 (55, 56, 2.0, None),
 (55, 60, 1.0, None),
 (55, 76, 1.0, None),
 (55, 95, 1.0, None),
 (55, 180, 1.0, None),
 (55, 234, 3.0, None),
 (56, 0, 3.0, None),
 (56, 1, 2.0, None),
 (56, 2, 4.0, None),
 (56, 30, 1.0, None),
 (56, 44, 2.0, None),
 (56, 115, 1.0, None),
 (56, 152, 1.0, None),
 (56, 162, 1.0, None),
 (56, 216, 1.0, None),
 (56, 221, 1.0, None),
 (56, 233, 1.0, None),
 (56, 247, 3.0, None),
 (57, 135, 1.0, None),
 (57, 172, 1.0, None),
 (58, 1, 1.0, None),
 (58, 2, 8.0, None),
 (58, 3, 3.0, None),
 (58, 10, 3.0, None),
 (58, 14, 2.0, None),
 (58, 17, 2.0, None),
 (58, 26, 1.0, None),
 (58, 38, 1.0, None),
 (58, 41, 3.0, None),
 (58, 44, 1.0, None),
 (58, 46, 1.0, None),
 (58, 56, 1.0, None),
 (58, 59, 1.0, None),
 (58, 64, 2.0, None),
 (58, 111, 1.0, None),
 (58, 134, 2.0, None),
 (58, 135, 1.0, None),
 (58, 145, 2.0, None),
 (58, 154, 2.0, None),
 (58, 164, 1.0, None),
 (58, 166, 1.0, None),
 (58, 189, 1.0, None),
 (58, 191, 1.0, None),
 (58, 211, 1.0, None),
 (58, 219, 1.0, None),
 (58, 231, 1.0, None),
 (58, 232, 3.0, None),
 (58, 242, 3.0, None),
 (58, 247, 3.0, None),
 (58, 273, 1.0, None),
 (58, 275, 2.0, None),
 (58, 283, 1.0, None),
 (58, 286, 1.0, None),
 (59, 2, 2.0, None),
 (59, 5, 1.0, None),
 (59, 8, 2.0, None),
 (59, 21, 1.0, None),
 (59, 38, 2.0, None),
 (59, 41, 2.0, None),
 (59, 48, 2.0, None),
 (59, 56, 1.0, None),
 (59, 100, 2.0, None),
 (59, 112, 1.0, None),
 (59, 149, 2.0, None),
 (59, 254, 1.0, None),
 (60, 0, 1.0, None),
 (60, 2, 4.0, None),
 (60, 15, 5.0, None),
 (60, 21, 1.0, None),
 (60, 23, 1.0, None),
 (60, 29, 1.0, None),
 (60, 36, 1.0, None),
 (60, 46, 1.0, None),
 (60, 47, 1.0, None),
 (60, 50, 1.0, None),
 (60, 59, 1.0, None),
 (60, 63, 1.0, None),
 (60, 78, 1.0, None),
 (60, 100, 1.0, None),
 (60, 112, 3.0, None),
 (60, 117, 2.0, None),
 (60, 124, 1.0, None),
 (60, 149, 1.0, None),
 (60, 164, 1.0, None),
 (60, 184, 1.0, None),
 (60, 205, 2.0, None),
 (60, 211, 1.0, None),
 (60, 221, 1.0, None),
 (60, 227, 1.0, None),
 (60, 252, 1.0, None),
 (60, 267, 1.0, None),
 (60, 275, 1.0, None),
 (60, 278, 2.0, None),
 (60, 288, 1.0, None),
 (61, 2, 2.0, None),
 (61, 5, 1.0, None),
 (61, 7, 1.0, None),
 (61, 10, 3.0, None),
 (61, 17, 4.0, None),
 (61, 26, 3.0, None),
 (61, 33, 2.0, None),
 (61, 129, 1.0, None),
 (61, 266, 1.0, None),
 (61, 291, 1.0, None),
 (62, 2, 2.0, None),
 (62, 7, 6.0, None),
 (62, 13, 2.0, None),
 (62, 23, 2.0, None),
 (62, 39, 1.0, None),
 (62, 52, 3.0, None),
 (62, 70, 1.0, None),
 (62, 82, 1.0, None),
 (62, 138, 1.0, None),
 (62, 183, 1.0, None),
 (63, 1, 2.0, None),
 (63, 2, 2.0, None),
 (63, 5, 3.0, None),
 (63, 19, 2.0, None),
 (63, 33, 1.0, None),
 (63, 35, 1.0, None),
 (63, 62, 2.0, None),
 (63, 67, 2.0, None),
 (63, 70, 2.0, None),
 (63, 76, 2.0, None),
 (63, 88, 1.0, None),
 (63, 95, 1.0, None),
 (63, 104, 1.0, None),
 (63, 106, 1.0, None),
 (63, 114, 1.0, None),
 (63, 167, 1.0, None),
 (63, 174, 1.0, None),
 (63, 188, 2.0, None),
 (63, 202, 1.0, None),
 (63, 227, 1.0, None),
 (63, 232, 1.0, None),
 (63, 271, 2.0, None),
 (64, 7, 2.0, None),
 (64, 15, 1.0, None),
 (64, 25, 4.0, None),
 (64, 49, 2.0, None),
 (64, 67, 1.0, None),
 (64, 68, 1.0, None),
 (64, 80, 1.0, None),
 (64, 85, 1.0, None),
 (64, 116, 1.0, None),
 (64, 202, 1.0, None),
 (64, 211, 2.0, None),
 (64, 256, 2.0, None),
 (64, 298, 1.0, None),
 (65, 9, 1.0, None),
 (65, 143, 4.0, None),
 (65, 208, 1.0, None),
 (66, 2, 1.0, None),
 (67, 34, 3.0, None),
 (67, 37, 3.0, None),
 (67, 43, 3.0, None),
 (67, 56, 1.0, None),
 (67, 69, 1.0, None),
 (67, 143, 4.0, None),
 (67, 182, 1.0, None),
 (67, 192, 1.0, None),
 (67, 280, 1.0, None),
 (67, 292, 1.0, None),
 (68, 1, 1.0, None),
 (68, 4, 1.0, None),
 (68, 5, 3.0, None),
 (68, 9, 1.0, None),
 (68, 10, 1.0, None),
 (68, 13, 2.0, None),
 (68, 16, 1.0, None),
 (68, 20, 2.0, None),
 (68, 25, 1.0, None),
 (68, 33, 1.0, None),
 (68, 46, 3.0, None),
 (68, 55, 2.0, None),
 (68, 59, 1.0, None),
 (68, 60, 1.0, None),
 (68, 70, 1.0, None),
 (68, 76, 1.0, None),
 (68, 95, 1.0, None),
 (68, 108, 1.0, None),
 (68, 120, 1.0, None),
 (68, 135, 2.0, None),
 (68, 142, 1.0, None),
 (68, 155, 1.0, None),
 (68, 164, 1.0, None),
 (68, 199, 1.0, None),
 (68, 287, 1.0, None),
 (69, 1, 2.0, None),
 (69, 2, 1.0, None),
 (69, 3, 3.0, None),
 (69, 5, 1.0, None),
 (69, 8, 1.0, None),
 (69, 10, 1.0, None),
 (69, 11, 3.0, None),
 (69, 14, 5.0, None),
 (69, 20, 3.0, None),
 (69, 21, 2.0, None),
 (69, 24, 1.0, None),
 (69, 29, 1.0, None),
 (69, 33, 2.0, None),
 (69, 38, 4.0, None),